@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply text-cyan-950;
  @apply bg-cyan-950;
}


.section {
  background-color: #FFF8E3;
  @apply lg:m-6;
  @apply lg:w-[30rem]; 
  @apply lg:h-[22rem];
}
.section-title {
  @apply text-center;
  @apply text-3xl;
  @apply pt-3;
}
.section-body {
  @apply lg:p-5;
  @apply text-lg;
  @apply text-cyan-950;
  @apply text-justify;
}

.section-list {
  @apply flex;
  @apply flex-col;
  @apply lg:flex-row;
 
}
.section-list ul {
  @apply list-disc;
  @apply content-evenly;
  
}

.section-double-list ul {
  @apply flex-row;
}
.section-list-none ul {
  @apply list-none;
}
.body-bg {
  @apply bg-cyan-950
}
.heading-bg {
  @apply bg-cyan-950
}
.footer {
  background-color: #FFF8E3;
  @apply lg:w-[63rem]; 
  @apply lg:h-[4rem];
}